/*Navigation*/

.navbar {
    background-color: #e74040;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; 
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbar .logo {
    width: auto;
    height: 70px;
    filter: invert(100%)
}
